@model COMP003B.Assignment4.Models.AdoptionRequest
<style>
    body {
        background-image: url('https://marketplace.canva.com/EAFhwfMq3ds/1/0/1600w/canva-colorful-cute-cats-illustration-desktop-wallpaper-KBBZLdpjLcM.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

<h2 class="display-4" style="color:orangered;">Cat adoption form</h2>

<form asp-action="Apply" method="post">
    <input type="hidden" asp-for="CatId" />

    <div>
        <label for="CatName">Cat's Name You're Interested In:</label>
        <input type="text" name="CatName" id="CatName" />
    </div>

    <div>
        <label for="ApplicantName">Your Name:</label>
        <input asp-for="ApplicantName" />
        <span asp-validation-for="ApplicantName"></span>
    </div>

    <div>
        <label for="Email">Your Email:</label>
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label for="Phone">Your Phone Number:</label>
        <input asp-for="Phone" />
        <span asp-validation-for="Phone"></span>
    </div>

    <button type="submit">Submit Request</button>
</form>
