<style>
    body {
        background-image: url('https://marketplace.canva.com/EAFhwfMq3ds/1/0/1600w/canva-colorful-cute-cats-illustration-desktop-wallpaper-KBBZLdpjLcM.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
<h2>Adoption Request Submitted!</h2>
<p>Thank you for your interest in adopting a cat.</p>

<a asp-controller="Cat" asp-action="Index">Back to All Cats</a>
