@model List<COMP003B.Assignment4.Models.Cat>
<style>
    body {
        background-image: url('https://marketplace.canva.com/EAFhwfMq3ds/1/0/1600w/canva-colorful-cute-cats-illustration-desktop-wallpaper-KBBZLdpjLcM.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
<h2 class="display-4" style="color:orangered;">Cats</h2>
@foreach (var cat in Model)
{
    <partial name="_CatCard" model="cat" />
}
