@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('https://marketplace.canva.com/EAFhwfMq3ds/1/0/1600w/canva-colorful-cute-cats-illustration-desktop-wallpaper-KBBZLdpjLcM.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
<div class="text-center">
    <h1 class="display-4" style="color:orangered;">Welcome let us match you with your new meow meow </h1>
    <img src="https://fuzzy-rescue.com/wp-content/uploads/2023/09/what-do-you-call-a-group.of-cats.jpg" alt="A group of cats" width="600">


    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
